<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    
    <form>
        <h3>Login Here</h3>
        <div class="alert alert-dismissible alert-danger" *ngIf="err==1"  >
            <strong> login ou mot de passe erronés</strong>
        </div>
        <label for="username">Nom utilisateur</label>
        <input type="text" placeholder="Email or Phone" name="username" [(ngModel)]="user.username">

        <label for="password">Mot de passe </label>
        <input type="password" placeholder="Password" name="password" [(ngModel)]="user.password">

        <button (click)="onLoggedin()">Connexion</button>

    </form>
</body>

</html>